@tailwind base;
@tailwind components;
@tailwind utilities;

/* ------------------------- */
/*  Progress bar animation   */
/* ------------------------- */
@keyframes barfill {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0%);
	}
}
.animate-barfill {
	animation: barfill linear forwards;
}
